Feature request: Filter products by certificate type

### Problem

The [`/v1/products`](https://test-api.psw-group.de/v1#operations-Product-getProductCollection) endpoint does not allow for filtering by certificate type.

As a reseller of a limited number of products, we don't care for example for S/MIME or code signing certificates. To keep our product catalog in sync, we need to filter out unwanted products.

### Proposed solution

Add another filter as query parameter `certificateType`, which contains a list of [`#CertificateType/code`](https://test-api.psw-group.de/v1#model-CertificateType-read) element to be *included* in the response. If the `certificateType` list is absent (or empty?), the filter should not apply.

The list could either be encoded as comma-separated string or in `application/x-www-form-urlencoded` encoding:

```http
GET /v1/products?certificateType=ssl,ssl_sdc
GET /v1/products?certificateType%5B%5D=ssl&certificateType%5B%5D=ssl_sdc
```

Whatever makes more sense to you :-)

### Alternative proposal

In vein of #1, we need to keep track of price changes. I believe those don't occur all too often, so a webhook informing our servers about price changes would be preferable to this polling mechanism.

This webhook doesn't need to be configurable with the API, a simple global registration of a callback URL in the PSW Console ought be do it.

There are now more filter options available for the `/products` endpoint including a filter for a list of certificate types.

Neat, it doesn't work though :-)

Trying to get `certificateType.code = ["ssl", "ssl_sdc"]` and `ca.code = ["sectigo"]`.

```bash
$ export AUTH_TOKEN="Bearer ..."
$ curl -iH "Authorization: ${AUTH_TOKEN}" 'https://test-api.psw-group.de/v1/products?ca.code%5B%5D=sectigo&certificateType.code%5B%5D=ssl_sdc&certificateType.code%5B%5D=ssl_mdc&pagination=true'
HTTP/2 500 
server: nginx
date: Wed, 17 Jun 2020 12:41:00 GMT
content-type: application/ld+json; charset=utf-8
x-content-type-options: nosniff
x-frame-options: deny
cache-control: no-cache, private
link: <https://test-api-v1.psw-group.de/v1/docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"

{"@context":"\/v1\/contexts\/Error","@type":"hydra:Error","hydra:title":"An error occurred","hydra:description":"Internal Server Error","code":0}%                                                                                                                                     
```

Side note: The Swagger UI/OpenAPI docs generate the following cURL (invalid) command:

```sh
curl -X GET "https://test-api.psw-group.de/v1/products?certificateType.code[]=ssl&certificateType.code[]=ssl_sdc&ca.code[]=sectigo&page=1&itemsPerPage=30" -H ...
```

When executed, it yields:

```
curl: (3) [globbing] bad range specification in column 64
```

As per [RFC3986 § 2.2](https://tools.ietf.org/html/rfc3986#section-2.2), `[` and `]` need to be encoded, if they're part of the parameter name (= what the RFC calls component name).

(I don't know if this is possible to fix in your `openapi.yml`, or if that's a problem with the OpenAPI generators, or the embedded Javascript...)

The certificateType filter works now. 

The curl command line ist generated by the Swagger UI javascript code. I don't know why it doesn't escape the `[` and `]` characters. Maybe an update fixes it.

> The certificateType filter works now.

Can confirm.

>> generate the following cURL (invalid) command
>
> [...] generated by the Swagger UI [...] Maybe an update fixes it.

FWIW, I've given up on this kind of perfectionism in a recent project and accepted its broken-ness...

I found a version of the Swagger UI javascript code which seems to work better.  The `[` and `]` characters are escaped now.